
table{
    border-collapse:collapse;
    width:100%;
}
th,td{
    border:1px solid #ddd;
    padding:8px;
}
th{
    background-color: blue;
    color:white;
}
tr:nth-child(even){
    background-color:#f2f2f2;
}
tr:hover{
    background-color:#ddd;
}
.container{
    width:80%;
    margin:auto;
    padding:20px;
}
h1{
    text-align:center;
    color:blue;
}
a{
    text-decoration: none;
    color:blue;
}
a:hover{
    text-decoration: underline;
}
form{
    margin-top:20px;
}
label{
    display:block;
    margin-bottom:8px;
}
input[type="text"], input[type="email"]{
    width:100%;
    padding:8px;
    margin-bottom:10px;
    border:1px solid #ccc;
    border-radius:4px;
}
input[type="submit"]{
    background-color:rgba(0, 0, 255, 0.212);
    color:white;
    padding:10px 15px;
    border:none;
    border-radius:4px;
    cursor:pointer;
}
input[type="submit"]:hover{
    background-color:#0056b3;
}
button{
    background-color:rgba(0, 0, 255, 0.295);
    color:white;
    padding:10px 15px;
    border:none;
    border-radius:4px;
    cursor:pointer;
}