*{
    margin : auto;
}
.home{
    color: goldenrod;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(126, 161, 248);
    height: 80px;
    align-items: center;
    color: white;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(235, 245, 238);
    color: rgb(40, 48, 68);
    font-size: 20px;
}
nav{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 10px;
}
a{
    text-decoration: none;
    color: rgb(27, 154, 170);
}
header a {
    color: rgb(235, 245, 238);
}
header button{
    background-color: rgb(0, 21, 29);
    color: rgb(235, 245, 238);
    border: none;
    margin: 0px 0px 0px 50px;
    height: 35px;
    width: 155px;
}
#image img{
    width: 650px;
    border-radius: 20px;
}
strong{
    color: rgb(27, 154, 170);
}
section.tete{
    display: flex;
    background-color: rgb(40, 48, 68);
    color: rgb(235, 245, 238);
    align-items: center;
    padding: 50px 0;
}
.first{
    background-color: rgb(40, 48, 68);
    color: rgb(3, 3, 3);
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
     width:150px;
}
.second{
    background-color: transparent;
    color: rgb(235, 245, 238);
    border: 1px solid rgb(235, 245, 238);
    margin-top: 25px;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    width:150px;
}
.first:hover{
    background-color: rgb(255, 255, 255);
}
#entete, #image {
    flex: 1;
}
#image img{
    width: 700px;
}
#entete{
    text-align: justify;
    padding-left: 50px;
}
#entete h3, #entete h4, #entete h1{
    padding-bottom: 25px;
}
#entete h1, #entete h4{
    font-size: 50px;
}
#entete p{
    padding-right: 20px;
}
.real{
    display: flex;
}
.nom1 , .nom2 , .nom3{
    flex: 2;
    margin-top: 20px;
    font-size: 75px;
    font-style: oblique;
    font-weight: bolder;
    text-align: center;
    
}
.real div{
    margin-bottom: 25px;
}
.reel{
    width: 80%;
    justify-content: center;
    text-align: center
}

#A-Propos{
    background-color: rgb(235, 245, 238);
    color: rgb(0, 0, 0);
    padding-bottom: 50px;
}
.reel h1, .serv h1{
    padding-bottom: 25px;
    padding-top: 25px;
    text-align: center;
}
#Services img{
    width: 150px;
}
#Services{
    background-color: rgb(193, 207, 243);
    height: 600px;
}
#A-Propos ul{
    list-style: none;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
   
}
.service{
    display: flex;
    padding:50px;
}
.service i{
    padding: 25px;
}
.service div{
    flex: 1;
    padding-left: 15px;
}
.service p{
    text-align: left;
}
.serv{
    text-align: center;
    padding-bottom: 25px;
}
#realisations{
    background-color: rgb(193, 207, 243);
    padding-bottom: 25px;
}
.realisez{
    display: flex;
    margin-bottom: 35px;
}
.realisez img{
    width: 350px;
}
.realis{
    text-align: center;
    padding: 50px;
    background-color: rgb(40, 48, 68);
    color: rgb(235, 245, 238);
    margin-bottom: 50px;
}
#competences{
    margin: 100px;
    text-align: center;
}
.comp h1{
    margin: 10px;
}
.comp{
    margin: 40px;
}
#temoignages{
    margin: 100px;
    text-align: center;
}

#contact , .temoin{
    display: flex;
}
.reseau{
    margin-bottom: 60px;
}
form{
    width: 400px;
    margin: 20px auto;
    font-family: sans-serif;
}
form div{
    margin-bottom: 25px;
}
label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="number"],
        textarea {
            width: 100%;           
            padding: 10px;         
            border: 1px solid #ccc;
            border-radius: 4px;  
            box-sizing: border-box; 
            font-size: 16px;
        }

        
        form button {
            padding: 12px 20px;
            background-color: rgb(27, 154, 170);
            color: rgb(235, 245, 238);
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

       form button:hover {
            background-color: rgb(22, 124, 138);
        }
.my p{
    margin-bottom: 50px;
}
.my h1{
    text-align: center;
    margin: 50px;
}

footer{
    background-color: rgb(40, 48, 68);
    color: rgb(235, 245, 238);
    padding: 40px;
}
.sect1{
    display: flex;
    margin: auto;

}
.sect1{
    flex: 1;
}
.sect2{
    text-align: center;
    margin: 50px;
}
.sect2 div a{
    padding: 25px;
    color: rgb(235, 245, 238);
}
.sect2 p{
    margin-bottom: 50px;
}

.carousel-container {
    position: relative;
    max-width: 700px; 
    margin: auto;
    background-color: #f9f9f9; 
    padding: 30px 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.mySlides {
    display: none;
    text-align: center;
}

.testimonial-content .quote {
    font-size: 18px;
    font-style: italic;
    color: #333;
    margin-bottom: 15px;
}

.testimonial-content .author {
    font-weight: bold;
    color: #555;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 12px;
    margin-top: -22px;
    color: #333; 
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%; 
    user-select: none;
    background-color: rgba(0,0,0,0.1);
    border: none;
}

.next {
    right: -20px; 
}

.prev {
    left: -20px; 
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.3);
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}


.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


.skills-container {
    display: flex;
    justify-content: space-between; 
    gap: 40px;
    max-width: 900px; 
    margin: auto;
}

.skills-column {
    flex: 1;
}


.skill-item {
    margin-bottom: 30px; 
}

.skill-title {
    font-weight: bold;
    color: #000000;
    margin-bottom: 5px;
}


.skill-bar-bg {
    width: calc(100% - 60px); 
    background-color: #e0e0e0;
    height: 4px; 
    border-radius: 2px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}


.skill-level {
    background-color: #000000;
    height: 100%;
    
}

.skill-percent {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 14px;
    color: #666666;
    font-weight: bold;
}
.sect1 ul{
    list-style: none;
}
